# Ordenação

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("../data/customers.csv", sep=";")

# Ordenando do maior para o menor
# O ascending padrão é true e o implace faz com que o dataframe seja alterado
df.sort_values(by="Points", ascending=False, inplace=True)
df.rename(columns={"Name": "Nome", "Points": "Pontos"}, inplace=True)
df

                                     UUID             Nome  Pontos
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3         marxzera    4304
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580     itsevolution    4262
3    65662aff-44d6-4f06-b9d9-07445c6e5943           kozat0    4063
122  46119557-7ce9-488f-9225-47d539dd414e         kallklen    2272
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32  unbiaseddestiny    2210
..                                    ...              ...     ...
23   6a7d3662-8ab6-43e2-a194-e7f1a58b996d       comportado       0
25   43e2aca6-8825-46ca-85ac-ac76a461638e      phblbrasil2       0
13   00a6d4c8-38e5-4e92-981e-4e4ac5084546      cecisssssss       0
12   d92138ad-7b6f-4b5b-8e0d-5041fe5b943a      tak3_iteasy       0
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9           gu1z17       0

[791 rows x 3 columns]

In [19]:
df = pd.read_csv("../data/customers.csv", sep=";")

# Outra forma de fazer o tópico acima, mas encadeado
df = (
    df.sort_values(by="Points", ascending=False)
    .rename(columns={"Name": "Nome", "Points": "Pontos"})
    )
df

                                     UUID             Nome  Pontos
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3         marxzera    4304
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580     itsevolution    4262
3    65662aff-44d6-4f06-b9d9-07445c6e5943           kozat0    4063
122  46119557-7ce9-488f-9225-47d539dd414e         kallklen    2272
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32  unbiaseddestiny    2210
..                                    ...              ...     ...
23   6a7d3662-8ab6-43e2-a194-e7f1a58b996d       comportado       0
25   43e2aca6-8825-46ca-85ac-ac76a461638e      phblbrasil2       0
13   00a6d4c8-38e5-4e92-981e-4e4ac5084546      cecisssssss       0
12   d92138ad-7b6f-4b5b-8e0d-5041fe5b943a      tak3_iteasy       0
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9           gu1z17       0

[791 rows x 3 columns]

In [23]:
df = pd.read_csv("../data/customers.csv", sep=";")

# Fazendo o sort por pontos e depois por ordem alfabetica
df.sort_values(by=["Points", "Name"], ascending=[False, True])

                                     UUID             Name  Points
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3         marxzera    4304
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580     itsevolution    4262
3    65662aff-44d6-4f06-b9d9-07445c6e5943           kozat0    4063
122  46119557-7ce9-488f-9225-47d539dd414e         kallklen    2272
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32  unbiaseddestiny    2210
..                                    ...              ...     ...
444  21038105-6ffd-45f1-bcf3-19feb6ba48f8         xlkurama       0
545  9cea717d-9edf-4740-a06d-41597784da46         xstrdoto       0
668  1990522f-6994-44ea-8a30-0115f1f4c6c1         yarinha7       0
286  bef9264e-1e65-44ec-a56e-3127b77b121e        yohminato       0
447  f04eeeea-7b30-4aca-88f8-2bf94c1e6e9a          yuse1br       0

[791 rows x 3 columns]

In [24]:
# Juntando os dois ultímos exemplos
df = (
    df.sort_values(by=["Points", "Name"], ascending=[False, True])
    .rename(columns={"Name": "Nome", "Points": "Pontos"})
    )
df

                                     UUID             Nome  Pontos
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3         marxzera    4304
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580     itsevolution    4262
3    65662aff-44d6-4f06-b9d9-07445c6e5943           kozat0    4063
122  46119557-7ce9-488f-9225-47d539dd414e         kallklen    2272
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32  unbiaseddestiny    2210
..                                    ...              ...     ...
444  21038105-6ffd-45f1-bcf3-19feb6ba48f8         xlkurama       0
545  9cea717d-9edf-4740-a06d-41597784da46         xstrdoto       0
668  1990522f-6994-44ea-8a30-0115f1f4c6c1         yarinha7       0
286  bef9264e-1e65-44ec-a56e-3127b77b121e        yohminato       0
447  f04eeeea-7b30-4aca-88f8-2bf94c1e6e9a          yuse1br       0

[791 rows x 3 columns]